<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Luke</a>

        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/projects" routerLinkActive="active" class="nav-link">Progetti</a>
            </li>
            <li class="nav-item">
                <a routerLink="/about" routerLinkActive="active" class="nav-link">Percorso</a>
            </li>
            <li class="nav-item">
                <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contatti</a>
            </li>
        </ul>
    </div>
</nav>